.rightSide {
  height: 100vh;
  background-color: var(--white);
}

.forgetPasswordIcon {
  text-align: center;
  position: relative;
  top: 7.3rem;
}

.LockIcon {
  width: 7.9rem;
  height: 7.9rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.formControl {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  top: 8rem;
}

.formWidth {
  width: 51%;
}

.forgotPassword {
  color: var(--black);
  text-align: center;
  position: relative;
  font-size: var(--font-size-05);
  font-weight: var(--bold);
}

.confirmPassword {
  margin-top: 2.5rem;
}

.btn_div {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.eyeIconHandle {
  position: absolute;
  top: 53%;
  right: 3%;
  cursor: pointer;
}

.errIconHandle1 {
  position: absolute;
  top: 32%;
  right: 3%;
  cursor: pointer;
}

.errIconHandle {
  position: absolute;
  top: 38%;
  right: 3%;
  cursor: pointer;
}
