.inputLabel {
  font-size: var(--font-size-01);
  font-weight: var(--semibold);
  text-align: left;
}
.form_group {
  position: relative;
}
.inputBox,
.inputfileBox {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: var(--regular);
  line-height: 1.5;
  border: 1px solid var(--grey-15);
  background-color: var(--white);
  border-radius: 8px;
  outline: none;
}

.inputfileBox::-webkit-file-upload-button {
  visibility: hidden;
}

input[type="file"] {
  color: transparent;
}

.errMsg {
  color: var(--primary-color);
  font-size: var(--font-size-00);
}
