.rightSide {
  height: 100vh;
  background-color: var(--white);
}

.forgetPasswordIcon {
  text-align: center;
  position: relative;
  top: 7.3rem;
}

.LockIcon {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.formControl {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  top: 10rem;
}

.formWidth {
  width: 51%;
}

.forgotPassword {
  color: var(--black);
  text-align: center;
  margin-top: 0.5em;
  font-size: var(--font-size-05);
  font-weight: var(--bold);
}

.forgotpasswordText {
  width: 51%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  font-weight: var(--semibold);
}

.BackToLogIn {
  position: relative;
  top: 2rem;
  justify-content: center;
  display: flex;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
  font-weight: var(--semibold);
}

.btn_div {
  margin-top: 2em;
}
